.topButtons {
  &__top {
    display: inline-block;
    margin-bottom: 10px;
  }
  &__bottom {
    display: inline-block;
  }
  &__button {
    background-color: #009b9b;
    display: inline-block;
    width: 355px;
    text-align: center;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
  }
}
